body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(16px, 1.5vw, 22px);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background-image: url("imgs/theme_title.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.artist-pic {
  width: 100%;
  padding-top: 8em;
  display: flex;
}

.artist-pic > div:first-child {
  flex-grow: 1;
}
.artist-pic > div:last-child {
  width: 70%;
  max-width: 300px;
}

.bio {
  width: 100%;
  max-width: 700px;
  margin: 0 3em 0 auto;
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.bio > p:first-child {
  text-align: right;
  padding-right: 0.5em;
}

.bio > p:last-child {
  text-align: left;
  padding-left: 0.5em;
}

.statement {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.statement p {
  padding-bottom: 1.5em;
}

.statement > div:first-child {
  text-align: right;
  padding-right: 0.5em;
  flex-basis: 45%;
}

.statement > div:last-child {
  text-align: left;
  padding-left: 0.5em;
  flex-basis: 55%;
}
